In [14]:
import openai
openai.api_key  = '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'

In [4]:
#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

In [15]:
def get_completion(prompt, model="gpt-3.5-turbo"):
    messages = [{"role": "user", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0, # this is the degree of randomness of the model's output
    )
    return response.choices[0].message["content"]

In [2]:
# now open the 2 data sets and merge it 
import pandas as pd 

df1 = pd.read_csv('./datasets/titanic.csv')
df2 = pd.read_csv('./datasets/titanic2.csv')
df3 = pd.concat([df1,df2])

In [4]:
# now let see how OpenAI works

In [18]:
missing_index = df3[df3['Fare'].isnull()].index[0]

In [19]:
characteristics = ['Age', 'Embarked', 'Pclass']

In [21]:
filtered_df = df3.dropna(subset=characteristics + ['Fare'])

In [26]:
df3.loc[missing_index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,NaN,S
152,1044,0,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

In [27]:
import numpy as np 
similar_passengers = filtered_df[
    (filtered_df['Age'] == df3.loc[missing_index, 'Age']) &
    (filtered_df['Embarked'] == df3.loc[missing_index, 'Embarked']) &
    (filtered_df['Pclass'] == df3.loc[missing_index, 'Pclass'])
]
median_fare = similar_passengers['Fare'].median()

ValueError: Can only compare identically-labeled Series objects

In [1]:
import requests

In [2]:
title = "Titanic"
murl = "http://www.omdbapi.com/?t="+title+"&apikey=1785ad28"
movieJson = requests.get(murl)

In [11]:
movieJson.content

b'{"Title":"Titanic","Year":"1997","Rated":"PG-13","Released":"19 Dec 1997","Runtime":"194 min","Genre":"Drama, Romance","Director":"James Cameron","Writer":"James Cameron","Actors":"Leonardo DiCaprio, Kate Winslet, Billy Zane","Plot":"A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.","Language":"English, Swedish, Italian, French","Country":"United States, Mexico","Awards":"Won 11 Oscars. 126 wins & 83 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.9/10"},{"Source":"Rotten Tomatoes","Value":"88%"},{"Source":"Metacritic","Value":"75/100"}],"Metascore":"75","imdbRating":"7.9","imdbVotes":"1,219,791","imdbID":"tt0120338","Type":"movie","DVD":"08 Jan 2002","BoxOffice":"$674,292,608","Production":"N/A","Website":"N/A","Response":"True"}'

In [12]:
import json

In [13]:
y = json.loads(movieJson.content)

In [15]:
y.Title

AttributeError: 'dict' object has no attribute 'Title'

In [18]:
lists = ["The Midnight Sky",
"Stowaway",
"Escape from Planet Earth",
"Star Wars: The Last Jedi",
"Phoenix Forgotten",
"Alien: Covenant",
"Transformers: Dark of the Moon",
"Fearless","Titanic","Home Alone","Greyhound"]

for l in lists:
    murl = "http://www.omdbapi.com/?t="+l+"&apikey=1785ad28"
    movieJson = requests.get(murl)
    print(movieJson.content)

b'{"Title":"The Midnight Sky","Year":"2020","Rated":"PG-13","Released":"23 Dec 2020","Runtime":"118 min","Genre":"Adventure, Drama, Sci-Fi","Director":"George Clooney","Writer":"Lily Brooks-Dalton, Mark L. Smith","Actors":"George Clooney, Felicity Jones, David Oyelowo","Plot":"This post-apocalyptic tale follows Augustine, a lonely scientist in the Arctic, as he races to stop Sully and her fellow astronauts from returning home to a mysterious global catastrophe.","Language":"English","Country":"United States","Awards":"Nominated for 1 Oscar. 5 wins & 46 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BNDQwYjJjODMtOWNmNC00NDJjLThiNDgtNzVkOTM1MjY5NDQ5XkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"5.7/10"},{"Source":"Rotten Tomatoes","Value":"49%"},{"Source":"Metacritic","Value":"58/100"}],"Metascore":"58","imdbRating":"5.7","imdbVotes":"86,258","imdbID":"tt10539608","Type":"movie","DVD":"23 Dec 2020","BoxOffice":"N/A","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Stowaway","Year":"2021","Rated":"TV-MA","Released":"22 Apr 2021","Runtime":"116 min","Genre":"Adventure, Sci-Fi, Thriller","Director":"Joe Penna","Writer":"Joe Penna, Ryan Morrison","Actors":"Anna Kendrick, Daniel Dae Kim, Shamier Anderson","Plot":"A three-person crew on a mission to Mars faces an impossible choice when an unplanned passenger jeopardizes the lives of everyone on board.","Language":"English","Country":"United Kingdom, Germany, United States","Awards":"N/A","Poster":"https://m.media-amazon.com/images/M/MV5BMWYwMWQxMmUtNjU3MS00NjIwLTllYWMtNzcxYzRkMWYyYTkwXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"5.6/10"},{"Source":"Rotten Tomatoes","Value":"76%"},{"Source":"Metacritic","Value":"63/100"}],"Metascore":"63","imdbRating":"5.6","imdbVotes":"49,084","imdbID":"tt9203694","Type":"movie","DVD":"22 Apr 2021","BoxOffice":"N/A","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Escape from Planet Earth","Year":"2012","Rated":"PG","Released":"15 Feb 2013","Runtime":"89 min","Genre":"Animation, Adventure, Comedy","Director":"Cal Brunker","Writer":"Bob Barlen, Cal Brunker, Stephen Fry","Actors":"Brendan Fraser, Sarah Jessica Parker, Jessica Alba","Plot":"Astronaut Scorch Supernova finds himself caught in a trap when he responds to an SOS from a notoriously dangerous alien planet.","Language":"English","Country":"United States, Canada","Awards":"1 win","Poster":"https://m.media-amazon.com/images/M/MV5BMTQyMTk4NjkyMl5BMl5BanBnXkFtZTcwMzA2OTY4OA@@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"5.8/10"},{"Source":"Rotten Tomatoes","Value":"35%"},{"Source":"Metacritic","Value":"35/100"}],"Metascore":"35","imdbRating":"5.8","imdbVotes":"26,297","imdbID":"tt0765446","Type":"movie","DVD":"04 Jun 2013","BoxOffice":"$57,012,977","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Star Wars: The Last Jedi","Year":"2008","Rated":"N/A","Released":"16 Sep 2008","Runtime":"3 min","Genre":"Short, Action, Fantasy","Director":"N/A","Writer":"N/A","Actors":"Taylor Clark","Plot":"Two kids fight with light sabers around the house.","Language":"English","Country":"United States","Awards":"N/A","Poster":"https://m.media-amazon.com/images/M/MV5BYTg3N2VkZGEtNjkwYi00ZWVlLWE1YmYtOTZiM2ZiZDY4NTE1L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMzM4MjM0Nzg@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.3/10"}],"Metascore":"N/A","imdbRating":"7.3","imdbVotes":"141","imdbID":"tt3486354","Type":"movie","DVD":"N/A","BoxOffice":"N/A","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Phoenix Forgotten","Year":"2017","Rated":"PG-13","Released":"21 Apr 2017","Runtime":"87 min","Genre":"Horror, Mystery, Sci-Fi","Director":"Justin Barber","Writer":"T.S. Nowlin, Justin Barber","Actors":"Florence Hartigan, Luke Spencer Roberts, Chelsea Lopez","Plot":"Two decades after three teenagers disappeared in the wake of mysterious lights appearing above Phoenix, Arizona, unseen footage from that night has been discovered, chronicling the final hours of their fateful expedition.","Language":"English","Country":"United States","Awards":"1 nomination","Poster":"https://m.media-amazon.com/images/M/MV5BMTUxODEyNjEzNl5BMl5BanBnXkFtZTgwMDQyMTM2MTI@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"5.3/10"},{"Source":"Rotten Tomatoes","Value":"45%"},{"Source":"Metacritic","Value":"33/100"}],"Metascore":"33","imdbRating":"5.3","imdbVotes":"6,677","imdbID":"tt6574272","Type":"movie","DVD":"01 Aug 2017","BoxOffice":"$3,600,146","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Alien: Covenant","Year":"2017","Rated":"R","Released":"19 May 2017","Runtime":"122 min","Genre":"Horror, Sci-Fi, Thriller","Director":"Ridley Scott","Writer":"Dan O\'Bannon, Ronald Shusett, Jack Paglen","Actors":"Michael Fassbender, Katherine Waterston, Billy Crudup","Plot":"The crew of a colony ship, bound for a remote planet, discover an uncharted paradise with a threat beyond their imagination, and must attempt a harrowing escape.","Language":"English, German","Country":"United Kingdom, United States","Awards":"2 wins & 13 nominations","Poster":"https://m.media-amazon.com/images/M/MV5BYzVkMjRhNzctOGQxMC00OGE2LWJhN2EtNmYyODRiMDNlM2ZmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"6.4/10"},{"Source":"Rotten Tomatoes","Value":"65%"},{"Source":"Metacritic","Value":"65/100"}],"Metascore":"65","imdbRating":"6.4","imdbVotes":"289,630","imdbID":"tt2316204","Type":"movie","DVD":"15 Aug 2017","BoxOffice":"$74,262,031","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Transformers: Dark of the Moon","Year":"2011","Rated":"PG-13","Released":"29 Jun 2011","Runtime":"154 min","Genre":"Action, Adventure, Sci-Fi","Director":"Michael Bay","Writer":"Ehren Kruger","Actors":"Shia LaBeouf, Rosie Huntington-Whiteley, Tyrese Gibson","Plot":"The Autobots learn of a Cybertronian spacecraft hidden on the moon, and race against the Decepticons to reach it and to learn its secrets.","Language":"English, Russian","Country":"United States","Awards":"Nominated for 3 Oscars. 11 wins & 42 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMTkwOTY0MTc1NV5BMl5BanBnXkFtZTcwMDQwNjA2NQ@@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"6.2/10"},{"Source":"Rotten Tomatoes","Value":"36%"},{"Source":"Metacritic","Value":"42/100"}],"Metascore":"42","imdbRating":"6.2","imdbVotes":"418,838","imdbID":"tt1399103","Type":"movie","DVD":"30 Sep 2011","BoxOffice":"$352,390,543","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Fearless","Year":"2006","Rated":"PG-13","Released":"22 Sep 2006","Runtime":"104 min","Genre":"Action, Biography, Drama","Director":"Ronny Yu","Writer":"Chris Chow, Richard Epcar, Chi-long To","Actors":"Jet Li, Li Sun, Yong Dong","Plot":"A biography of Chinese Martial Arts Master Huo Yuanjia, who is the founder and spiritual guru of the Jin Wu Sports Federation.","Language":"Mandarin, Japanese, English","Country":"China, Hong Kong, United States","Awards":"6 wins & 13 nominations","Poster":"https://m.media-amazon.com/images/M/MV5BZjkzZDViNTYtN2ZjMy00NzY4LTgwMjktNGY5YjUxYmY1NzBiXkEyXkFqcGdeQXVyMjgyNjk3MzE@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.6/10"},{"Source":"Rotten Tomatoes","Value":"73%"},{"Source":"Metacritic","Value":"70/100"}],"Metascore":"70","imdbRating":"7.6","imdbVotes":"77,450","imdbID":"tt0446059","Type":"movie","DVD":"19 Dec 2006","BoxOffice":"$24,633,730","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Titanic","Year":"1997","Rated":"PG-13","Released":"19 Dec 1997","Runtime":"194 min","Genre":"Drama, Romance","Director":"James Cameron","Writer":"James Cameron","Actors":"Leonardo DiCaprio, Kate Winslet, Billy Zane","Plot":"A seventeen-year-old aristocrat falls in love with a kind but poor artist aboard the luxurious, ill-fated R.M.S. Titanic.","Language":"English, Swedish, Italian, French","Country":"United States, Mexico","Awards":"Won 11 Oscars. 126 wins & 83 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.9/10"},{"Source":"Rotten Tomatoes","Value":"88%"},{"Source":"Metacritic","Value":"75/100"}],"Metascore":"75","imdbRating":"7.9","imdbVotes":"1,219,791","imdbID":"tt0120338","Type":"movie","DVD":"08 Jan 2002","BoxOffice":"$674,292,608","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Home Alone","Year":"1990","Rated":"PG","Released":"16 Nov 1990","Runtime":"103 min","Genre":"Comedy, Family","Director":"Chris Columbus","Writer":"John Hughes","Actors":"Macaulay Culkin, Joe Pesci, Daniel Stern","Plot":"An eight-year-old troublemaker, mistakenly left home alone, must defend his home against a pair of burglars on Christmas eve.","Language":"English","Country":"United States","Awards":"Nominated for 2 Oscars. 11 wins & 6 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMzFkM2YwOTQtYzk2Mi00N2VlLWE3NTItN2YwNDg1YmY0ZDNmXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.7/10"},{"Source":"Rotten Tomatoes","Value":"66%"},{"Source":"Metacritic","Value":"63/100"}],"Metascore":"63","imdbRating":"7.7","imdbVotes":"604,127","imdbID":"tt0099785","Type":"movie","DVD":"07 Dec 2004","BoxOffice":"$285,761,243","Production":"N/A","Website":"N/A","Response":"True"}'
b'{"Title":"Greyhound","Year":"2020","Rated":"PG-13","Released":"10 Jul 2020","Runtime":"91 min","Genre":"Action, Drama, History","Director":"Aaron Schneider","Writer":"Tom Hanks, C.S. Forester","Actors":"Tom Hanks, Elisabeth Shue, Stephen Graham","Plot":"Several months after the U.S. entry into World War II, an inexperienced U.S. Navy commander must lead an Allied convoy being stalked by a German submarine wolf pack.","Language":"English","Country":"United States, Canada, China","Awards":"Nominated for 1 Oscar. 1 win & 23 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BZTFkZjYxNWItZmE2MC00MGE4LWIxYTgtZmIzOWM1YmI2YWEzXkEyXkFqcGdeQXVyMDM2NDM2MQ@@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.0/10"},{"Source":"Rotten Tomatoes","Value":"78%"},{"Source":"Metacritic","Value":"64/100"}],"Metascore":"64","imdbRating":"7.0","imdbVotes":"103,455","imdbID":"tt6048922","Type":"movie","DVD":"10 Jul 2020","BoxOffice":"N/A","Production":"N/A","Website":"N/A","Response":"True"}'